*.py[cod]
*.swp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# settings Django
settings.py
/static/private
admin
/templates/home_content.html
/templates/base_head.html
/media

# Tornado configuration files
/www/config.py
/www/projects.db

