/* HEADER */

.header
{
	background-image: url('../img/anneau_bloc.png') /*height: 50px*/, url('../img/bloc.png');
	background-position: top left, left 0px top 50px;
	background-repeat: repeat-x, repeat-x; /* WARNING: repeat-x for 2nd background-image */
	padding-top: 50px;
}

.header .social-network-letterpress
{
	opacity: 0.5;
}

.header .social-network-letterpress#linkedin
{
	background-image: url('../img/linkedin-letterpress-off.png');
}

.header .social-network-letterpress#linkedin:hover
{
	background-image: url('../img/linkedin-letterpress-on.png');
}

.header .social-network-letterpress#viadeo
{
	background-image: url('../img/viadeo-letterpress-off.png');
}

.header .social-network-letterpress#viadeo:hover
{
	background-image: url('../img/viadeo-letterpress-on.png');
}

.header .social-network-letterpress#github
{
	background-image: url('../img/github-letterpress-off.png');
}

.header .social-network-letterpress#github:hover
{
	background-image: url('../img/github-letterpress-on.png');
}

.header .breadcrumb
{
	box-shadow: 0px 2px 3px #FFBF87;
	background: url('../img/bloc-light.png') repeat;
	
	color: #bd7638;
	margin-bottom: 0px;
}

.header .breadcrumb>.active
{
	color: #58371a;
}

.header .breadcrumb>li+li:before
{
	color: #58371a;
}

.header p
{
	color: #bd7638;
	text-shadow: 0px 2px 3px #ffbf87;
}

.header p a
{
	color: #bd7638;
	text-shadow: 0px 2px 3px #ffbf87;
}

.header p a:hover
{
	color: #000000;
}

/* FOOTER */

.footer
{
	background-image: url('../img/bloc.png');
	background-repeat: repeat;

	color: #bd7638;
	font-weight: bold;
	text-shadow: 0px 2px 3px #ffbf87;
}

.footer .qrcodes img
{
	opacity: 0.5;
}

/* CONTENT */

.content
{
	background: url('../img/feuille.png') repeat;
}

/* POST-IT */

.content .details:nth-of-type(n) .postit-wrapper:nth-of-type(n) .postit:hover
{
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

