form label
{
	width: 30%;
	vertical-align: top;
}

form label+.controls
{
	display: inline-block;
	margin-left: 20px;
}

form .btn:first-child
{
	margin-left: 30%;
}

form .help-block
{
	font-size: 0.8em;
}

