body
{
	counter-reset: legend;
}

/* HEADER */

.header
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	
	position: relative;
	z-index: 100;
}

.header .social-network-letterpress
{
	position: relative;
	display: inline-text;
	float: right;
	
	width: 52px;
	height: 52px;

	margin-right: 5px;
	top: -57px;
	
	background-repeat: no-repeat;
}

.header-shadow
{
	position: relative;
	z-index: 10;
	
	width: 100%;
	height: 10px;
	margin-top: -10px;
	
	border-radius: 125px / 12px;
	box-shadow: 0px 3px 12px #ac6832;
}

.header .breadcrumb
{
	margin-bottom: 0px;
}

.header h1
{
	font-weight: bold;
	margin-bottom: 0px;
	
	font-family: 'Nothing You Could Do', cursive;
}

.header p
{
	margin-top: 0px;
	font-size: 1em;
	
	font-family: 'Nothing You Could Do', cursive;
}

.header p a:hover, .footer p a:hover
{
	color: #000000;
}

/* FOOTER */

.footer-shadow
{
	position: relative;
	z-index: 10;

	width: 100%;
	height: 10px;
	margin-bottom: -10px;
	
	border-radius: 125px / 12px;
	box-shadow: 0px -3px 12px #ac6832;
}

.footer
{
	position: relative;
	z-index: 100;

	padding-bottom: 20px;

	text-align: center;
	font-size: 1.1em;
	font-family: 'Nothing You Could Do', cursive;
}

.footer .qrcodes
{
	text-align: center;
}

.footer .qrcodes img
{
	width: 64px;
}

.footer .goto-login
{
	position: absolute;
	right: 20px;
	bottom: 0px;

	text-align: right;
}

/* CONTENT */

.content
{
	position: relative;
	z-index: 2;
	
	padding: 20px;
	padding-top: 35px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0px 1px 4px #aaaaaa;
}


.more-switch
{
	text-align: right;
}

.content h2
{
	font-size: 24px;
}

.content h3
{
	font-size: 18px;
}

.content h4
{
	font-size: 14px;
}

.content h5
{
	font-size: 12px;
}

.content h6
{
	font-size: 10px;
}

a
{
	font-weight: bold;
	text-decoration: none;
}
a:link
{
	color: #000000;
	text-decoration: none;
} /* unvisited link */
a:visited
{
	color: #000000;
	text-decoration: none;
} /* visited link */
a:hover
{
	color: #0073b2;
	text-decoration: none;
} /* mouse over link */
a:active
{
	color: #000000;
	text-decoration: none;
} /* selected link */

.content > p:first-letter, .description-editable > p:first-letter, .more-content > p:first-letter
{
	padding-left: 1em;
}

.content p.short-description:first-letter, .content p.category:first-letter
{
	padding-left: 0px;
}

p
{
	text-align: justify;
}

p.short-description:before
{
	content: 'In a nutshell: ';
}
p.category:before
{
	content: 'Category: ';
}
ul.technology:before
{
	content: 'Technologies: ';
}

ul.technology
{
	padding-left: 0px;
	margin-bottom: 50px;
}

p.short-description:before, p.category:before, ul.technology:before
{
	font-weight: bold;
	font-style: normal;
}

p.short-description
{
	font-style: italic;
}

ul.technology li
{
	display: inline;
	list-style-type: none;
}

ul.technology li:after
{
	content: ', ';
}

ul.technology li:last-child:after
{
	content: '';
}

p.image, p.video
{
	text-align: center;
}

p.image img
{
	max-width: 450px;
	max-height: 450px;
	
	padding: 5px;
	border: #aaaaaa dashed 1px;
	background-color: #ffffff;
}

p.image .legend:before, p.video .legend:before
{
	counter-increment: legend;
	content: 'Figure ' counter(legend) ' - ';
}

p.image .legend, p.video .legend
{
	text-color: #555555;
	font-style: italic;
	font-size: 0.8em;
}

ul.downloads
{
	margin-top: 50px;
}

ul.downloads li
{
	list-style-image: url('/static/img/download.png');
}

.content .editable .description-editable
{
	padding: 1px;
	position: relative;
}

.content .editable .description-editable:hover
{
	border: dashed 1px #777;
	padding: 0px;
}

.content .editable .description-editable .form-edit
{
	display: none;
}

.content .editable .description-editable:hover .form-edit
{
	display: inline-block;
	position: absolute;
	
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.content .editable form, .content #add-project form
{
	border: dashed 1px #777;
	padding: 5px;
	margin-bottom: 20px;
	text-align: left;
}

.content .editable form .form-close, .content #add-project form .form-close
{
	float: right;
	cursor: pointer;
}

.content .editable .add-description
{
	text-align: center;
}

.content .editable .add-description div
{
	display: inline-block;
	width: 125px;
	height: 175px;

	margin-top: 10px;

	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	cursor: pointer;
}

.content .editable .add-description div h3
{
	margin: 0px;
	margin-top: 10px;
}

.content .editable .add-description div p
{
	display: block;
	width: 125px;
	height: 125px;

	background-image: url('/static/img/more-off.png');
	background-repeat: no-repeat;
	background-position: left 0px top 0px;
}

.content .editable .add-description div:hover p
{
	background-image: url('/static/img/more-on.png');
}

/* YEAR LABEL */

.content p+.details
{
	margin-top: 50px;
}

.content .details
{
	margin-bottom: 20px;
	text-align: justify;
}

.content .details:nth-of-type(even)
{
	padding-right: 75px;
	text-align: right;
}

.content .details:nth-of-type(odd)
{
	padding-left: 75px;
	text-align: left;
}

.content .details h2
{
	display: inline-block;
	position: absolute;
	
	background: #f9f46b;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	
	font-family: 'Nothing You Could Do', cursive;
	box-shadow: 0px 3px 5px #d5d160;
}

.content .details:nth-of-type(odd) h2
{
	left: 0;
	-ms-transform: rotate(-10deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(-10deg) translate3d(0,0,0); /* Chrome, Safari, Opera *//* translate3d(0,0,0): otherwise font-problem with Chrome*/
	transform: rotate(-10deg) translate3d(0,0,0);
}

.content .details:nth-of-type(even) h2
{
	right: 0;
	-ms-transform: rotate(10deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(10deg) translate3d(0,0,0); /* Chrome, Safari, Opera */
	transform: rotate(10deg) translate3d(0,0,0);
}

/* POST-IT */

.content .details .postit-wrapper
{
	display: inline-block;
	min-width: 33%;
	text-align: center;
}

.content .details .postit
{
	display: inline-block;
	
	width: 210px;
	height: 210px;
	
	padding: 40px 5px 5px 5px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: left;
	cursor: pointer;

	-webkit-backface-visibity: hidden; /* anti-aliasing effect for Chrome (+translate3d) */
}

.content .details .postit.add-project p
{
	background-image: url('/static/img/more-off.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;

	width: 100%;
	height: 125px;
}

.content .details .postit.add-project:hover p
{
	background-image: url('/static/img/more-on.png');
}

.content .details:nth-of-type(4n) .postit-wrapper:nth-of-type(4n) .postit,
.content .details:nth-of-type(4n+1) .postit-wrapper:nth-of-type(4n+3) .postit,
.content .details:nth-of-type(4n+2) .postit-wrapper:nth-of-type(4n) .postit,
.content .details:nth-of-type(4n+3) .postit-wrapper:nth-of-type(4n+1) .postit
{
	background: #f9f46b; /* yellow */
	box-shadow: 0px 3px 5px #d5d160;
	
	-ms-transform: rotate(-4deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(-4deg) translate3d(0,0,0); /* Chrome, Safari, Opera */
	transform: rotate(-4deg) translate3d(0,0,0);
}

.content .details:nth-of-type(4n) .postit-wrapper:nth-of-type(4n+1) .postit,
.content .details:nth-of-type(4n+1) .postit-wrapper:nth-of-type(4n+1) .postit,
.content .details:nth-of-type(4n+2) .postit-wrapper:nth-of-type(4n+2) .postit,
.content .details:nth-of-type(4n+3) .postit-wrapper:nth-of-type(4n+3) .postit
{
	background: #d7f1f3; /* blue */
	box-shadow: 0px 3px 5px #b2c8c9;
	
	-ms-transform: rotate(4deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(4deg) translate3d(0,0,0); /* Chrome, Safari, Opera */
	transform: rotate(4deg) translate3d(0,0,0);
}

.content .details:nth-of-type(4n) .postit-wrapper:nth-of-type(4n+2) .postit,
.content .details:nth-of-type(4n+1) .postit-wrapper:nth-of-type(4n) .postit,
.content .details:nth-of-type(4n+2) .postit-wrapper:nth-of-type(4n+3) .postit,
.content .details:nth-of-type(4n+3) .postit-wrapper:nth-of-type(4n) .postit
{
	background: #a2ea8f; /* green */
	box-shadow: 0px 3px 5px #6b9a5f;
	
	-ms-transform: rotate(-3deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(-3deg) translate3d(0,0,0); /* Chrome, Safari, Opera */
	transform: rotate(-3deg) translate3d(0,0,0);
}

.content .details:nth-of-type(4n) .postit-wrapper:nth-of-type(4n+3) .postit,
.content .details:nth-of-type(4n+1) .postit-wrapper:nth-of-type(4n+2) .postit,
.content .details:nth-of-type(4n+2) .postit-wrapper:nth-of-type(4n+1) .postit,
.content .details:nth-of-type(4n+3) .postit-wrapper:nth-of-type(4n+2) .postit
{
	background: #ffabcb; /* pink */
	box-shadow: 0px 3px 5px #d38da8;
	
	-ms-transform: rotate(0.75deg) translate3d(0,0,0); /* IE 9 */
	-webkit-transform: rotate(0.75deg) translate3d(0,0,0); /* Chrome, Safari, Opera */
	transform: rotate(0.75deg) translate3d(0,0,0);
}

.content .details .postit h3
{
	font-weight: bold;
	font-family: 'Nothing You Could Do', cursive;
}

.content .details .postit p
{
	font-weight: normal;
}

a.btn
{
	color: #fff;
}

/* MODAL */

.modal
{
	color: #ffffff;
}

.modal-backdrop.in
{
	opacity: .75;
	filter: alpha(opacity=75);
}

