/* HEADER */

.header
{
	background-image: url('../img/leather.png');
	background-position: top left;
	background-repeat: repeat;
	padding-top: 20px;
}

.header .social-network-letterpress#linkedin
{
	background-image: url('../img/linkedin-letterpress-off.png');
	background-repeat: no-repeat;
}

.header .social-network-letterpress#linkedin:hover
{
	background-image: url('../img/linkedin-letterpress-on.png');
	background-repeat: no-repeat;
}

.header .social-network-letterpress#viadeo
{
	background-image: url('../img/viadeo-letterpress-off.png');
	background-repeat: no-repeat;
}

.header .social-network-letterpress#viadeo:hover
{
	background-image: url('../img/viadeo-letterpress-on.png');
	background-repeat: no-repeat;
}

.header .social-network-letterpress#github
{
	background-image: url('../img/github-letterpress-off.png');
	background-repeat: no-repeat;
}

.header .social-network-letterpress#github:hover
{
	background-image: url('../img/github-letterpress-on.png');
	background-repeat: no-repeat;
}

.header .breadcrumb
{
	box-shadow: 0px 2px 3px #FFBF87;
	background: url('../img/leather-light.png') repeat;
	
	color: #bd7638;
}

.header .breadcrumb>.active
{
	color: #58371a;
}

.header .breadcrumb>li+li:before
{
	color: #58371a;
}

.header h1
{
	color: #000000;
}

.header p
{
	color: #ddae80;
	text-shadow: 0px 2px 3px #bd7638;
}

.header p a
{
	color: #510;
	text-shadow: 0px 2px 3px #bd7638;
}

.header p a:hover
{
	color: #000000;
}

/* FOOTER */

.footer
{
	background-image: url('../img/leather.png');
	background-repeat: repeat;
	
	color: #ddae80;
	font-weight: bold;
	text-shadow: 0px 2px 3px #bd7638;
}

/* CONTENT */

.content
{
	background: url('../img/paper.png') repeat;
}

/* POST-IT */

.content .details .postit
{
	overflow: visible;
}

.content .details .postit:after
{
	content: '';
	position: absolute;

	background-image: url('../img/cachet-cire.png');
	background-repeat: no-repeat;
	width: 57px;
	height: 58px;

	top: -22px;
	left: 75px;
}

