<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="{% block page_description %}{% endblock %}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Custom font from Google Fonts services -->
	<link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css' />
	
	<!-- Homemade CSS -->
  <link href='/static/css/main.css' rel='stylesheet' type='text/css' />
  <link href='/static/css/form.css' rel='stylesheet' type='text/css' />
  <link href='/static/themes/{{ THEME }}/css/main.css' rel='stylesheet' type='text/css' />
	<script src='/static/js/data-confirm.js'></script>
  {% block additional_js %}{% endblock %}

  <!-- WavyMenu -->
	<script src='/static/js-wavymenu/wavy.js'></script>
  <link href='/static/js-wavymenu/wavy.css' rel='stylesheet' type='text/css' />

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-49278649-1']);
    _gaq.push(['_setDomainName', 'dubien.me']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">
  <!--
    /* JavaScript preload */

    var img_url = new Array();
    img_url.push("/static/themes/{{ THEME }}/img/github-letterpress-on.png");
    img_url.push("/static/themes/{{ THEME }}/img/linkedin-letterpress-on.png");
    img_url.push("/static/themes/{{ THEME }}/img/viadeo-letterpress-on.png");
    {% for quicklink in FOOTER_QUICKLINKS %}
      img_url.push("{{ quicklink.2|escapejs }}");
    {% endfor %}

    {% block js-preload %}{% endblock %}

    var img_loader = new Array();
    function preloader() {
      for (var i=0 ; i!=img_url.length ; i++) {
        img_loader.push(new Image());
        img_loader[i].src = img_url[i];
      }
    }
  -->
  </script>
</head>
<body onLoad="javascript:preloader();">
<div class="container">
	<div class="header">
		<h1>{% block title %}{% endblock %}</h1>
    <p>by <a href="{{ HEADER_ADMIN.1 }}" target="_blank">{{ HEADER_ADMIN.0 }}</a></p>
    
    {% for quicklink in HEADER_QUICKLINKS %}
    <a href="{{ quicklink.1 }}" target="blank_" id="{{ quicklink.0 }}" class="social-network-letterpress" title="{{ quicklink.0|capfirst }}"></a>
    {% endfor %}
		<ol class="breadcrumb">{% block breadcrumb %}{% endblock %}</ol>
	</div>
  <div class="header-shadow"></div>
	
  <div class="content">{% block content %}{% endblock %}</div>
  <ul class="menu-items-right"></ul>
  
  <div class="footer-shadow"></div>
  <div class="footer">
    {{ FOOTER_TEXT }}
    <p class="qrcodes">
      {% for quicklink in FOOTER_QUICKLINKS %}
      <a href="{{ quicklink.1 }}" target="blank_" title="{{ quicklink.0 }}"><img src="{{ quicklink.3 }}" onmouseover="this.src='{{ quicklink.2|escapejs }}';" onmouseout="this.src='{{ quicklink.3|escapejs }}';" alt="{{ quicklink.0 }}" /></a>
      {% endfor %}
    </p>
    <p class="goto-login">
      {% if request.user.is_authenticated %}
        <a href="{% url projects.views.logout %}"><i class="glyphicon glyphicon-off"></i> Logout</a>
      {% else %}
        <a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}"><i class="glyphicon glyphicon-off"></i> Login</a>
      {% endif %}
    </p>
  </div>
</div>
<script type="text/javascript">
<!--
  /* Initialise WavyMenu */
  var content = $(".content").first();
  var menu_items = $(".menu-items-right").first();
  var imgClassDependent = [
    {className: "video", imgSrc: "/static/img/video.png"},
    {className: "image", imgSrc: "/static/img/image.png"},
    {className: "downloads", imgSrc: "/static/img/download.png"},
  ];
  createWavyMenu(content, menu_items, imgClassDependent);
-->
</script>
</body>
</html>
