{% extends "base.html" %}

{% block page_title %}PortFolio{% endblock %}
{% block title %}PortFolio{% endblock %}
{% block page_description %}Nicolas Dubien's career portfolio describes and gives details concerning some of my major programing projects{% endblock %}

{% block breadcrumb %}
	<li class="active">Home</li>
{% endblock %}

{% block content %}
  {% include "home_content.html" %}

  {% regroup projects by year as by_year_list %}

  {% for year_projects in by_year_list %}
	  <div class="details">
      <h2 id="year{{ year_projects.grouper }}" data-anchor="{{ year_projects.grouper }}">{{ year_projects.grouper }}</h2>
      {% for project in year_projects.list %}
        <div class="postit-wrapper">
          <a href="{% url projects.views.show_project project.name_url %}">
            <div class="postit">
              <h3>{{ project.name }}</h3>
              <p>{{ project.short_description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
	  </div>
	{% endfor %}
  {% if request.user.is_authenticated %}
    <div class="details">
      <h2 id="year" data-anchor="Add">???</h2>
      <div class="postit-wrapper">
        <a href="#">
          <div class="postit add-project">
            <h3>New Project</h3>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  {% endif %}  
{% endblock %}

{% block js-preload %}
  {% if request.user.is_authenticated %}
    img_url.push("/static/img/more-on.png");
  {% endif %}
{% endblock %}

