{% extends "base.html" %}

{% block page_title %}PortFolio{% endblock %}
{% block title %}PortFolio{% endblock %}
{% block page_description %}Nicolas Dubien's career portfolio describes and gives details concerning some of my major programing projects{% endblock %}
{% block additional_js %}<script src='/static/js/counter.js'></script>{% endblock %}

{% block breadcrumb %}
	<li class="active">Home</li>
{% endblock %}

{% block content %}
  {% include "home_content.html" %}
   
  {% if STATS %}
  <div class="stats">
    {% for techno in stats %}
      <div class="stats-details">
        <p class="techno">{{ techno }}</p>
        <p class="techno-num" data-counter="{{ techno.num }}">0</p>
        <p class="techno-num-type">{% if STATS == "num_projects" %}projects{% elif STATS == "num_lines" %}lines{% endif %}</p>
      </div>
    {% endfor %}
    <script type="text/javascript">run_counters();</script>
  </div>
  <p class="legend">My {{ stats|length }} main programming languages</p>
  {% endif %}

  {% regroup projects by year as by_year_list %}

  {% for year_projects in by_year_list %}
	  <div class="details">
      <a href="{% url projects.views.show_projects_year year_projects.grouper %}" title="Projects in {{ year_projects.grouper }}">
        <h2 id="year{{ year_projects.grouper }}" data-anchor="{{ year_projects.grouper }}">{{ year_projects.grouper }}</h2>
      </a>
      {% for project in year_projects.list %}
        <div class="postit-wrapper">
          <a href="{% url projects.views.show_project project.year project.name_url %}">
            <div class="postit {% if project.private %}private{% endif %}">
              <h3>{{ project.name }}</h3>
              <p>{{ project.short_description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
	  </div>
	{% endfor %}

  {% include "add_project_form.html" %}
{% endblock %}

{% block js-preload %}
  {% if request.user.is_authenticated %}
    img_url.push("/static/img/more-on.png");
  {% endif %}
{% endblock %}

