{% extends "base.html" %}

{% block page_title %}{{ year }} - PortFolio{% endblock %}
{% block title %}{{ year }} - PortFolio{% endblock %}
{% block page_description %}Some projects that have been started and developped in {{ year }} by Nicolas DUBIEN{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url projects.views.home %}">Home</a></li>
  <li class="active">{{ year }}</li>
{% endblock %}

{% block content %}
  <ul class="pager">
    {% if prev_year %}<li class="previous"><a href="{% url projects.views.show_projects_year prev_year %}">&larr; {{ prev_year }}</a></li>{% endif %}
    {% if next_year %}<li class="next"><a href="{% url projects.views.show_projects_year next_year %}">{{ next_year }} &rarr;</a></li>{% endif %}
  </ul>  
  
  <div class="details">
    <h2 id="year{{ year }}" data-anchor="{{ year }}">{{ year }}</h2>
    {% for project in projects %}
      <div class="postit-wrapper">
        <a href="{% url projects.views.show_project project.year project.name_url %}">
          <div class="postit {% if project.private %}private{% endif %}">
            <h3>{{ project.name }}</h3>
            <p>{{ project.short_description }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include "add_project_form.html" %}
{% endblock %}

{% block js-preload %}
  {% if request.user.is_authenticated %}
    img_url.push("/static/img/more-on.png");
  {% endif %}
{% endblock %}

