{% extends "base.html" %}
{% load project_extras %}
{% load bootstrap %}

{% block page_title %}{{ project.name }} - PortFolio{% endblock %}
{% block title %}Project: {{ project.name }}{% endblock %}
{% block page_description %}{{ project.short_description }}{% endblock %}

{% block additional_js %}
  <script src='/static/js/clear-selection.js'></script>
  <script src='/static/js/ajax_sourcecode_lines.js'></script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url projects.views.home %}">Home</a></li>
  <li><a href="#">{{ project.year }}</a></li>
  <li class="active">{{ project.name }}</li>
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="editable">
      <div class="description-editable">
        <i class="glyphicon glyphicon-pencil form-edit"></i>
  {% endif %}
  
  {% if request.user.is_authenticated %}<p class="visibility">{% if project.private %}Private{% else %}Public{% endif %}</p>{% endif %}
  <p class="short-description">{{ project.short_description }}</p>
  <p class="category">{{ project.category.name }}</p>
  <ul class="technology">
    {% for techno in project.technologies.all %}
      <li>{{ techno.name }}</li>
    {% endfor %}
  </ul>

  {% if request.user.is_authenticated %}
      </div>
      <form method="post" class="form-horizontal" action="{% url projects.views.update_project project.pk %}">
      {% csrf_token %}
        <i class="glyphicon glyphicon-remove form-close"></i>
        {{ project_form|as_bootstrap }}
        <div class="control-group"><div class="controls">
            <button class="btn btn-primary" onclick="submit">Submit</button>
            <a data-confirm="Do you really want to delete this Project?" href="{% url projects.views.delete_project project.pk %}" class="btn btn-danger">Delete Project</a>
        </div></div>
      </form>
    </div>
  {% endif %}

  {% for description in project.description_set.all %}
    {% if request.user.is_authenticated %}
      <div class="editable">
        <div class="description-editable">
          <i class="glyphicon glyphicon-pencil form-edit"></i>
          {{ description|get_safe_html }}
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="{% url projects.views.update_description description.pk %}">
        {% csrf_token %}
          <i class="glyphicon glyphicon-remove form-close"></i>
          {{ description|get_form|as_bootstrap }}
          <div class="control-group"><div class="controls">
              <button class="btn btn-primary" onclick="submit">Submit</button>
              <a data-confirm="Do you really want to move it one step up?" href="{% url projects.views.move_up_description description.pk %}" class="btn btn-warning" {% if forloop.first %}disabled="disabled"{% endif %}><i class="glyphicon glyphicon-chevron-up"></i> Up</a>
              <a data-confirm="Do you really want to move it one step down?" href="{% url projects.views.move_down_description description.pk %}" class="btn btn-warning" {% if forloop.last %}disabled="disabled"{% endif %}><i class="glyphicon glyphicon-chevron-down"></i> Down</a>
              <a data-confirm="Do you really want to delete this Description?" href="{% url projects.views.delete_description description.pk %}" class="btn btn-danger">Delete</a>
          </div></div>
        </form>
      </div>
    {% else %}
      {{ description|get_safe_html }}
    {% endif %}
  {% endfor %}

  {% if request.user.is_authenticated %}
  <div class="editable">
    <div class="add-description">
      {% for name, form_details in empty_forms.items %}
        <div id="{{ name }}"><h3>{{ form_details.name }}</h3><p></p></div>
      {% endfor %}
    </div>
    {% for name, form_details in empty_forms.items %}
      <form method="post" enctype="multipart/form-data" class="form-horizontal form-for" action="{% url projects.views.add_description_to project.pk name %}" id="form-for-{{ name }}">
      {% csrf_token %}
        <i class="glyphicon glyphicon-remove form-close"></i>
        {{ form_details.form|as_bootstrap }}
        <div class="control-group"><div class="controls">
            <button class="btn btn-primary" onclick="submit">Submit</button>
        </div></div>
      </form>
    {% endfor %}
  </div>
  {% endif %}

  {% if request.user.is_authenticated or project.download_set.all|length > 0 %}
    <ul class="downloads" data-anchor="Download">
    {% for down in project.download_set.all %}
      <li>
        <a href="/media/{{ down.down }}" target="blank_">{{ down.down }}</a>
        {% if request.user.is_authenticated %}
          <a data-confirm="Do you really want to delete this Download?" href="{% url projects.views.delete_download down.pk %}">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        {% endif %}
      </li>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <li class="editable">
        <span class="description-editable"><a href="javascript:void(0);" class="form-edit"><i class="glyphicon glyphicon-plus"></i> Add download</a></span>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="{% url projects.views.add_download_to project.pk %}">
        {% csrf_token %}
          <i class="glyphicon glyphicon-remove form-close"></i>
          {{ empty_download_form|as_bootstrap }}
          <div class="control-group"><div class="controls">
              <button class="btn btn-primary" onclick="submit">Submit</button>
          </div></div>
        </form>
      </li>
    {% endif %}
    </ul>
  {% endif %}
  
  {% if request.user.is_authenticated %}
    <ul class="downloads" style="margin-top: 20px;">
      {% for sc in project.sourcecode_set.all %}
        <li>
          <a href="/media/{{ sc.archive }}" target="blank_">{{ sc.archive }}</a>
          - uploaded {{ sc.upload_time }}
          <ul id="sourcecode-lines-{{ sc.pk }}">
            {% if sc.lines_ready %}
              {% for line in sc.sourcetotechnolines_set.all %}<li>{{ line }}</li>{% endfor %}
            {% else %}
              <script type="text/javascript"> ajax_sourcecode_lines("sourcecode-lines-{{ sc.pk }}", "{% url projects.views.get_sourcecode_lines sc.pk %}"); </script>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
      <li class="editable">
        <span class="description-editable"><a href="javascript:void(0);" class="form-edit"><i class="glyphicon glyphicon-plus"></i> Add sourcecode</a></span>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="{% url projects.views.add_sourcecode_to project.pk %}">
        {% csrf_token %}
          <i class="glyphicon glyphicon-remove form-close"></i>
          {{ empty_sourcecode_form|as_bootstrap }}
          <div class="control-group"><div class="controls">
              <button class="btn btn-primary" onclick="submit">Submit</button>
          </div></div>
        </form>
      </li>
    </ul>
  {% endif %}

  {% if request.user.is_authenticated %}
    <script type="text/javascript">
    <!--
      $(".editable form").hide();
      
      $(".editable form .form-close").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
      });
      
      $(".editable .description-editable .form-edit").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
        
        $(this).parent().hide();
        $(this).parent().parent().find("form").first().show();
      });
      $(".editable .description-editable").dblclick(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
        clear_selection();
         
        $(this).hide();
        $(this).parent().find("form").first().show();
      });

      $(".editable .add-description div").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(this).parent().hide();

        $(".editable form#form-for-" + this.getAttribute("id")).show();
      });
    -->
    </script>
  {% endif %}
{% endblock %}

{% block js-preload %}
  {% if request.user.is_authenticated %}
    img_url.push("/static/img/more-on.png");
  {% endif %}
{% endblock %}

