{% extends "base.html" %}
{% load project_extras %}
{% load bootstrap %}

{% block page_title %}{{ project.name }} - PortFolio{% endblock %}
{% block title %}Project: {{ project.name }}{% endblock %}
{% block page_description %}{{ project.short_description }}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url projects.views.home %}">Home</a></li>
  <li><a href="#">{{ project.year }}</a></li>
  <li class="active">{{ project.name }}</li>
{% endblock %}

{% block content %}
  <p class="short-description">{{ project.short_description }}</p>
  <p class="category">{{ project.category.name }}</p>
  <ul class="technology">
    {% for techno in project.technologies.all %}
      <li>{{ techno.name }}</li>
    {% endfor %}
  </ul>
  
  {% for description in project.description_set.all %}
    {% if request.user.is_authenticated %}
      <div class="editable">
        <div class="description-editable">
          <i class="glyphicon glyphicon-pencil form-edit"></i>
          {{ description|get_safe_html }}
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" action="{% url projects.views.update_description description.pk %}">
        {% csrf_token %}
          <i class="glyphicon glyphicon-remove form-close"></i>
          {{ description|get_form|as_bootstrap }}
          <div class="control-group"><div class="controls">
              <button class="btn btn-primary" onclick="submit">Submit</button>
              <a data-confirm="Do you really want to move it one step up?" href="{% url projects.views.move_up_description description.pk %}" class="btn btn-warning" {% if forloop.first %}disabled="disabled"{% endif %}><i class="glyphicon glyphicon-chevron-up"></i> Up</a>
              <a data-confirm="Do you really want to move it one step down?" href="{% url projects.views.move_down_description description.pk %}" class="btn btn-warning" {% if forloop.last %}disabled="disabled"{% endif %}><i class="glyphicon glyphicon-chevron-down"></i> Down</a>
              <a data-confirm="Do you really want to delete this Description?" href="{% url projects.views.delete_description description.pk %}" class="btn btn-danger">Delete</a>
          </div></div>
        </form>
      </div>
    {% else %}
      {{ description|get_safe_html }}
    {% endif %}
  {% endfor %}

  <div class="editable">
    <div class="add-description">
      <div id="rawtext"><h3>Raw Text</h3><p></p></div>
      <div id="image"><h3>Image</h3><p></p></div>
      <div id="htmlcode"><h3>Html Code</h3><p></p></div>
    </div>
    {% for name, form in empty_forms.items %}
      <form method="post" enctype="multipart/form-data" class="form-horizontal form-for" action="{% url projects.views.add_description_to project.pk name %}" id="form-for-{{ name }}">
      {% csrf_token %}
        <i class="glyphicon glyphicon-remove form-close"></i>
        {{ form|as_bootstrap }}
        <div class="control-group"><div class="controls">
            <button class="btn btn-primary" onclick="submit">Submit</button>
        </div></div>
      </form>
    {% endfor %}
  </div>

  {% if project.download_set.all|length > 0 %}
    <ul class="downloads" data-anchor="Download">
    {% for down in project.download_set.all %}
      <li><a href="/media/{{ down.down }}" target="blank_">{{ down.down }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if request.user.is_authenticated %}
    <script type="text/javascript">
    <!--
      $(".editable form").hide();
      
      $(".editable form .form-close").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
      });
      
      $(".editable .description-editable .form-edit").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
        
        $(this).parent().hide();
        $(this).parent().parent().find("form").first().show();
      });
      $(".editable .description-editable").dblclick(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(".editable .add-description").show();
         
        $(this).hide();
        $(this).parent().find("form").first().show();
      });

      $(".editable .add-description div").click(function() {
        $(".editable form").hide();
        $(".editable .description-editable").show();
        $(this).parent().hide();

        $(".editable form#form-for-" + this.getAttribute("id")).show();
      });
    -->
    </script>
  {% endif %}
{% endblock %}

